services:
  db:
    image: docker.io/postgres:18.1-alpine
    ports:
      - 127.0.0.1:5432:${POSTGRES_PORT}/tcp
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
